<!--<p>home works!</p>-->
<!-- <section *ngFor="let country of (countries$ | async)?.countries"></section> -->


<div class="bg-white px-5 py-3 shadow-sm d-flex justify-content-between">
    <h5>Where is in the world?</h5>
    <h6><i class="far fa-moon"></i> Dark Mode</h6>
  </div>
  
  <div class="container-fluid mx-2 d-flex justify-content-between ">
    <div class="col-md-8">
    <input [(ngModel)]='searchInp' (keyup)="onSearchInput()"  class="form-control p-4 w-50 mx-5 mt-5 fontAwesome shadow-sm border-0" placeholder="&#xF002; Search for a country">
   <!--<p>{{searchInp}}</p> --> 
  </div>
  </div>

 <!-- <div class="alert alert-warning w-50 my-5 mx-auto" *ngIf="isError;else showCountries">{{errorMessage}}</div>-->

  <app-no-result *ngIf="isError; else showCountries" [errorMsg]="errorMessage"> </app-no-result> 

  <ng-template #showCountries>
    <div class="row mx-5 mt-3">
      <div *ngFor="let country of CountriesSearchRes" class="col-sm-12 col-md-3 my-4 ">
        <div class="container">
          <div class="imgClass">
            <a [routerLink]="['/countries/countryDetail','country',country.name]">
            <img src="{{country.flag}}" />
          </a>
          </div>
          <div class="bg-white pt-2 pb-5 cont px-2">
            <h6 class="bold" class="my-2">{{country.name}}</h6>
            <p><span>Population: </span> <span class="info">{{country.population | currency: '': '':'1.0'}}</span></p>
            <p><span>Region: </span> <span class="info">{{country.region}}</span></p>
            <p><span>Capital: </span> <span class="info">{{country.capital}}</span></p>
          </div>
        </div>  
      </div>
    </div>
  </ng-template>